.encabezado{
    background-color: darkorchid;
    height: 40%;
    width: auto;
}

body{
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(69, 69, 69);
    color: white;

}

ul {

    align-self: center ;
    list-style-type: none;
    padding: 10px;

  }

li{
    list-style: none;
}



a{
    color: violet;
}

a:visited{
    color:white;
}

