body{
    text-align: center;
    font-family: sans-serif;
    background-color: #303443;
    color: whitesmoke;
}

input{
    margin: 10px;
}

a, a:visited{
    color: whitesmoke;
}

h1{
    color: purple;
}